<!DOCTYPE html>
<html>

<head>
    <script src="lib/jquery.js"></script>
    <script src="lib/js.cookie.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script>
        function register() {
            var userInput = document.getElementById("userInputForm");
            var userId = userInput.elements[0].value;
            var password = userInput.elements[1].value
            var userInfo = {
                "userId": userId,
                "password": password
            }

            $.post("/api/addUser", userInfo, function (data) {
                if (data === true) {
                    Cookies.set('userId', userId);
                    window.location.href = "/posts";
                } else {
                    alert("Registration failed.");
                }
            });
        }
    </script>
</head>

<body>
    <h1>Safe Forum</h1>
    <h2>Register</h2>
    <form id="userInputForm">
        <label for="">user id: </label>
        <input type="text" name="userid" placeholder="userid"><br><br>
        <label for="">password: </label>
        <input type="text" name="password" placeholder="password"><br><br>
    </form>
    <button type="button" name="Register" onclick="register()">REGISTER AND LOG IN</button>
</body>

</html>